<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExAzureOidcSample.Web</title>
</head>
<body>
    <header>
        <h1><a class="navbar-brand" asp-area="" asp-page="/Index">ExAzureOidcSample.Web</a></h1>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>